<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="email.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="./Image/logo.png" />
      </div>
      <div class="text">Pin Reset</div>
      <div class="bg-image">
        <img src="./Image/imagebackground.png" />
        <div class="absolute-image">
          <h2>Transaction Pin Reset</h2>
          <img src="./Image/pin.png" />
        </div>
      </div>
      <div class="welcome">
        <h5>
          Dear Isy,<br />A request to reset your transaction pin has been
          detected. Please copy the One-Time-Password(OTP) to proceed.
        </h5>
      </div>
      <div class="details">
        <div class="withdraw-1">
          <h3>Account:</h3>
          <span>issy@gmail.com</span>
        </div>
        <div class="withdraw-1">
          <h3>Ip Address:</h3>
          <span>104.67.46.10</span>
        </div>
        <div class="withdraw-1">
          <h3>Platform:</h3>
          <span>ANDRIOD-APP</span>
        </div>
        <div class="withdraw-1">
          <h3>Device:</h3>
          <span>SM-GH6754</span>
        </div>
        <div class="withdraw-1">
          <h3>Time:</h3>
          <span>2023-4-16 11:49 (CET)</span>
        </div>
      </div>
      <div class="info">
        <div class="pin-holder"><button>3470</button></div>

        <p>
          Notice: If you did not conduct this operation, your account may be
          compromised. Please contact customer support right away or freeze your
          account immediately.d.
        </p>
      </div>
      <div class="footer-1 ">
        <h3>
          Download the latest version of the TinqFi App for the best experience
        </h3>
        <div>
          <img src="./Image/Aivalable.png" />
          <img src="./Image/Google.png" />
        </div>
        <h3>
          If you have any questions or suggestions, please contact us by email
          at <br />
          <strong> Support@tinqfi.com</strong>
        </h3>
      </div>
      <hr />
      <footer class="footer-holder">
        <h3>stay connected</h3>
        <div class="icon-holder">
          <div>
            <img src="./Image/facebook.png" />
          </div>
          <div><img src="./Image/twiter.png" /></div>
          <div><img src="./Image/instagram.png" /></div>
          <div><img src="./Image/linkedin.png" /></div>
          <div><img src="./Image/telegram.png" /></div>
        </div>
        <p>Copyright © 2023 TinqFi</p>
      </footer>
    </div>
  </body>
</html>
