<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="email.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="./Image/logo.png" />
      </div>
      <div class="welcome-email">
        <h1 class="header">Hi Isy</h1>
        <h5>Welcome to the super crypto app by TinqFi.</h5>
      </div>
      <div class="bg-image">
        <img src="./Image/imagebackground.png" />
        <div class="absolute-image">
          <div class="image-email">
            <img src="./Image/logo-white.png" />
          </div>          
          <img src="./Image/welcome.png" />
        </div>
      </div>
      <div class="info">
        <h3>Welcome to TinqFi</h3>
        <p>
          The best place to supercharge your crypto. Over the next few days we'll send you a short series of emails to help you get started. We are excited to share this journey with you 
        </p>

        <div class="button-holder"><a href="https://tinqfi.com" target="_blank" rel="noreferrer"><button>Get Started</button></a></div>
      
      </div>
      <div class="footer-1 ">
        
        <h3>
          Download the latest version of the TinqFi App for the best experience 
        </h3>
        <div>
          <!-- <a href="#" target="_blank" rel="noreferrer"><img src="./Image/Aivalable.png" /></a> -->
          <a href="#" target="_blank" rel="noreferrer"><img src="./Image/Google.png" /></a> 
        </div>
        <h3>If you have any questions or suggestions, please contact us by email at <br/>
       <strong><a href="mailto:Support@tinqfi.com">support@tinqfi.com</a></strong></h3>
      </div>
      </div>
      <hr />
      <footer class="footer-holder">
        <h3 class="footer-connected">stay connected</h3>
        <div class="icon-holder">
          <a href="https://facebook.com/tinqfi" target="_blank" rel="noreferrer"><img src="./Image/facebook.png" /></a>
          <a href="https://twitter.com/tinqfi" target="_blank" rel="noreferrer"><img src="./Image/twiter.png" /></a>
          <a href="https://instagram.com/tinqfi" target="_blank" rel="noreferrer"><img src="./Image/instagram.png" /></a>
          <a href="https://linkedin.com/company/tinqfi" target="_blank" rel="noreferrer"><img src="./Image/linkedin.png" /></a>
          <a href="https://t.me/Tinqfi" target="_blank" rel="noreferrer"><img src="./Image/telegram.png" /></a>
        </div>
        <p class="footer-text">Crypto on Steroids</p>
        <p class="footer-copyright">Copyright © 2023 TinqFi</p>
      </footer>
    </div>
  </body>
</html>
